mixin footer(spec)
  footer.footer(id="contact")
    .container
      .row
        .col-12.col-md-5.col-xl-3
          .logo
            a.logo__link(href="./")
              img.logo__img(src="images/content/icon-logo.png" alt="icon-logo")
          p.footer__text lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh elit. Duis sed odio sit amet auctror a ornare odio non mauris vitae erat in elit
        .col-12.col-md-6.offset-md-1.col-xl-4.offset-xl-1
          h3.footer__title Our studio
          .footer-contact
            img(src="images/content/icon-address.png", alt="icon-address").footer-contact__img
            p.footer-contact__address Ruko cucruk, Jl. Radio luar dalem jos No.12 - 13, Kalideres - Jakarta Barat 11480 - Indonesia
          .footer-tel
            img(src="images/content/icon-phone.png", alt="icon-phone").footer-tel__img
            p.footer-tel__number (+62) 21-2224 3333
        .col-12.col-xl-3.offset-xl-1
          h3.footer__title Stay in touch
          .footer__touch
            a(href="#").footer__button_subscribe Subscribe our newsletter
            a(href="#").footer__button_telegram
              img(src="images/content/icon-teleg.png", alt="icon-telegram")
          ul.soc-icons
            li.soc-icons__item
              a(href="#")
                img(src="images/content/icon-fb.png", alt="soc-icon")
            li.soc-icons__item
              a(href="#")
                img(src="images/content/icon-tw.png", alt="soc-icon")
            li.soc-icons__item
              a(href="#")
                img(src="images/content/icon-drib.png", alt="soc-icon")
            li.soc-icons__item
              a(href="#")
                img(src="images/content/icon-in.png", alt="soc-icon")
            li.soc-icons__item
              a(href="#")
                img(src="images/content/icon-google.png", alt="soc-icon")
            li.soc-icons__item
              a(href="#")
                img(src="images/content/icon-youtube.png", alt="soc-icon") 
      .row.justify-content-between.align-items-center
        .col-12.col-md-6.col-xl-4
          ul.footer-list
            li.footer-list__item
              a(href="#") Help
            li.footer-list__item
              a(href="#") Terms &amp; Conditions
            li.footer-list__item
              a(href="#") Privacy
        .col-12.col-md-4.offset-md-2.col-xl-3.offset-xl-5
          span.footer__copy Copyright	&copy; 2015 &mdash; Tajem Creative